<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/47b3f4e4-6152-4a45-8242-a9f66af1e226/resourceGroups/rg-chatgpt-test/providers/Microsoft.Web/sites/chatgpt-function-test</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://chatgpt-function-test.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://chatgpt-function-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$chatgpt-function-test</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>