<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d356fa3e-6cfe-43cb-a6e2-76f0062cfa63/resourceGroups/rg-chatgpt-function/providers/Microsoft.Web/sites/chatgpt-function</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://chatgpt-function.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://chatgpt-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$chatgpt-function</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>